name: Simple Sync Test

"on":
  workflow_call:
    inputs:
      framework:
        type: string
        default: 'auto'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Framework is ${{ inputs.framework }}"
